<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/face.png" alt="profile" class="img-fluid" title="User Profile">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to uWeather App</p>
                        <h1>I Am A <span class="text_clr"> Full Stack Developer </span> and A Music Lover</h1>
                        <a href="https://www.linkedin.com/in/shreyas-kayarkar-168a69209/" target="_blank"><button>About
                                Me</button></a>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!--footer-->

    {{>footer}}
</body>

</html>